# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.py[cod]

# OS junk files
.DS_Store

# Environments
env/
venv/

# Model files
*.pkl
*.joblib

# Streamlit cache
.streamlit/

# Secrets / configs
.env

# VSCode settings (optional)
.vscode/
